[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-mysql-connector = "*"
pyjwt = "*"
mysql-connector-python = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.13"
